:host{
    display: block;
    text-align: center;
}

.counter__container{
    display: flex;
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 25px 0;
    color: #F6DCAB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 3em;
    margin: 30px auto;
}