<div class="container">
  <h1 class="appTitle">{{title}}</h1>
  <app-progress-bar [progress]="progress"></app-progress-bar>
  <app-counter [counterInit]="10" (totalCount)="initCountdown($event)" (updateCounter)="updateProgressbar($event)" #counter>{{counter}}></app-counter>
  <p class="appFormContainer">
    <input [(ngModel)]="counter.counterInit" class="appInput" type="text" value="0" placeholder="Its the FinalCountdown"/>
    <button (click)="counter.resetCount()" class="appButton">Reset Counter</button>
  </p>
</div>

